.search-app {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 5%;
  flex-direction: column;

  @media screen and (min-width: 760px) {
    padding-left: 0;
    padding-right: 0;
  }
}